.main-home {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  padding: 15px 5%;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.box {
  margin-top: 3rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  padding: 40px 20px;
  height: 20rem;
}

.details > img {
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.details {
  margin-top: -10px;
}

.name {
  font-weight: bold;
  margin-top: 10px;
}

.email {
  font-weight: 500;
  margin-top: 5px;
  font-size: 15px;
}

.msg {
  padding: 8px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: #65839e;
  border-radius: 5px;
  color: white;
  margin-top: 1.5rem;
}

@media (max-width: 1169px) {
  .main-home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 860px) {
  .main-home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .main-home {
    grid-template-columns: repeat(1, 1fr);
  }
}
